  header {
    text-align: center;
  }
  header .bar {
    border-bottom: 1px solid gray;
  }
  header h1 {
    position: absolute;
    left: 50px;
    top: 22px;
  }
  header .menu {
    text-align: center;
  }
  header .menu li {
    display: inline-block;
  }
  header .menu li a {
    display: block;
    height: 81px;
    padding: 0 35px;
    font-size: 17px;
    color: #333;
    line-height: 81px;
  }
  header .menu li a:hover {
    color: #2d5b79;
    font-weight: bold;
    text-decoration: underline;
  }
  header .spot {
    position: absolute;
    right: 50px;
    top: 0;
  }
  header .spot li {
    float: left;
  }
  header .spot li:after {
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    width: 1px;
    height: 7px;
    background: #ccc;
    transform: translateY(-50%);
  }
  header .spot li a {
    display: block;
    height: 81px;
    padding: 0 10px;
    line-height: 81px;
  }
  header .spot li:last-child a {
    padding-right: 0;
  }

<!-- 학회소개 -->
  .fraction{
    float:left;
  }
  .text{
    text-align:right;
    padding-right:25px;
    float:right;
    color: #000000;
    line-height: 150%;
  }
  .logo{
    width:35%;
    float:left;
    text-align:left;
    padding-left:2%;
  }

<!-- 교수님소개 -->
.image_pro{
  margin-left:6%;
  padding:1%;
  float:left;
  margin-top:10%;
}
.sch_pro{
  float:left;
  text-align: center;
  border-right:2px solid black;
  color: #000000;
}
.schp_pro{
  float:left;
  color: #000000;
}
.y_pro{
  float:left;
  text-align: center;
  border-right:2px solid #444444;
  color: #000000;
}
.yp_pro{
  float:left;
  color: #000000;
}
.int_pro{
  float:left;
  text-align: center;
  border-right:2px solid #888888;
  color: #000000;
}
.intp_pro{
  float:left;
  color: #000000;
}
.more_pro{
  float:left;
  text-align: center;
  border-right:2px solid #AAAAAA;
  color: #000000;
}
.morep_pro{
  float:left;
  color: #000000;
}

<!-- 임원진소개 -->
  .one
  {
    width:25%;
    float:left;
  }
  .two
  {
    width:25%;
    margin-left:5%;
    padding:1%;
    float:left;
  }
  .three
  {
    width: 25%;
    margin-left:1%;
    padding:1%;
    float:left;
  }

<!-- history -->
@import url("https://fonts.googleapis.com/css?family=Oswald");
body .tab {
  position: relative;
  font-family: 'Oswald', sans-serif;
  background: #303F9F;
  color: #fff;
  font-size: 20px;
}

.grid {
  list-style: none;
  margin-left: -40px;
}

.gc {
  box-sizing: border-box;
  display: inline-block;
  margin-right: -.25em;
  min-height: 1px;
  padding-left: 40px;
  vertical-align: top;
}

.gc--1-of-3 {
  width: 33.33333%;
}

.gc--2-of-3 {
  width: 66.66666%;
}

.naccs {
  position: relative;
  margin-top: 10%;
}

.naccs .menu div {
  padding: 15px 20px 15px 40px;
  margin-bottom: 10px;
  margin-left: 10%;
  width: 50%;
  color: #585858; <!-- #303F9F -->
  background: #3F51B5;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  position: relative;
  vertical-align: middle;
  font-weight: 700;
  transition: 1s all cubic-bezier(0.075, 0.82, 0.165, 1);
}

.naccs .menu div:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.naccs .menu div span.light {
  height: 10px;
  width: 10px;
  position: absolute;
  top: 24px;
  left: 15px;
  background-color: #585858;
  border-radius: 100%;
  transition: 1s all cubic-bezier(0.075, 0.82, 0.165, 1);
}

.naccs .menu div.active span.light {
  background-color: #FBC02D;
  left: 0;
  height: 100%;
  width: 3px;
  top: 0;
  border-radius: 0;
}

.naccs .menu div.active {
  color: #FBC02D;
  padding: 15px 20px 15px 20px;
}

ul.nacc {
  position: relative;
  height: 0px;
  list-style: none;
  margin-left: -10%;
  padding: 0;
  transition: 0.5s all cubic-bezier(0.075, 0.82, 0.165, 1);
}

ul.nacc li {
  opacity: 0;
  -webkit-transform: translateX(50px);
          transform: translateX(50px);
  position: absolute;
  list-style: none;
  transition: 1s all cubic-bezier(0.075, 0.82, 0.165, 1);
  color: #000000;
  line-height: 200%;
}

ul.nacc li.active {
  transition-delay: .3s;
  z-index: 2;
  opacity: 1;
  -webkit-transform: translateX(0px);
          transform: translateX(0px);
}

ul.nacc li p {
  margin: 0;
}


<!-- 스크롤 -->
  .scroll {
    margin: 0;
  }

  .scroll-container {
    height: 100vh;
    overflow: auto;
    scroll-snap-type: y mandatory;
  }

  .scroll-item {
    position: relative;
    height: 100vh;
    scroll-snap-align: center;
    justify-content: center;
    background-color: #ffffff;
  }

  .scroll-item h2 {
    position: sticky;
    top: 10px;
    margin: 10px;
    padding: 1rem;
    float: left;
    color: #1c1c1c;
    font-size: 1.5rem;
    z-index: 1;
  }

  .scroll-item__content_1 {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    height: 90vh;
    text-align: center;
    font-size: 1.3rem;
    font-weight: bold;
    font-family: 'Nanum Gothic', sans-serif;
  }

  .scroll-item__content_2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-size: 1.2rem;
    font-family: 'Nanum Gothic', sans-serif;
  }

  .scroll-item__content_3 {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    height: 100vh;
  }

  .scroll-item__content_4 {
    display: flow-root;
    height: 100vh;
    text-align: left;
    font-size: 1.2rem;
    font-family: 'Nanum Gothic', sans-serif;
  }

  .scroll-item__inner {
    border: 2px solid white;
    padding: 1rem;
    transition: opacity 800ms, transform 800ms;
    opacity: 0;
    transform: translate3d(0, -1.5rem, 0);
  }
  .scroll-item__inner.is-visible {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
