header {
 text-align: center;
}
header .bar {
 /*position:fixed;*/
 width:100%;
 height: 80px;
 background-color: white;
 border-bottom: 1px solid gainsboro;
 box-shadow: 1px 1px 10px gray;
}
header a{
 color:black;
 text-decoration: none;
}
header h1 {
 float:left;
 margin-left: 30px;
 margin-top:25px;
 font-size:30px;
}
header .menu {
 display:inline-block;
  text-align: center;
}
header .menu li {
  display: inline-block;
}
header .menu li a {
 display: block;
 height: 65px;
 padding: 0 35px;
 font-size: 17px;
 color: #333;
 line-height: 65px;
}
header .menu li a:hover {
  color: #2d5b79;
  font-weight: bold;
 text-decoration: underline;
}
header .spot {
 float:right;
 right: 50px;
 top: 0;
}
header .spot li {
  float: left;
  list-style: none;
}
header .spot li a {
  display: block;
  height: 65px;
  padding: 0 10px;
  line-height: 65px;
}
/* 여기까지 menuTopBar */



body{
  margin: 0;
  padding: 0;
  display: block;
  font-family:'Trebuchet MS', 'Lucida Sans', Arial, sans-serif;
}
.container{
  position: absolute;
}

/* ############################
  프로젝트 메인화면 좌측 사이드바
  ############################# */
.overlay{
  background-color: white;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  width: 0;
  height: 100%;
  transition: .5s ease;
  border-right: 0.3px solid #E6E6E6;
}
.container:hover .overlay{
  width: 12%;
}
.years{
  position: absolute;
  top: 35%;
  left: 55%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  white-space: nowrap;
}
.years ul{
  list-style: none;
}
.years a{
  font-size: 23px;
  color: black;
  font-weight: bold;
  line-height: 45px;
  padding-right: 60px;
}
.years a:link{
  color: black;
  text-decoration: none;
}
.years a:hover{
  color: #242626;
  font-size: 26px;
  text-shadow: 2px 2px 2px gray;
}

/* ###############
  프로젝트 메인화면
  ################ */

.introMsg{
  position: absolute;
  top: 30%;
  left: 17%;
  width: 70%;
  transition: .5s ease;
}
.container:hover .introMsg{
  left: 21%;
  transition: .5s ease;
}
.introMsg h3{
  font-size: 50px;
  font-weight: bold;
  color: white;
  text-align: center;
  margin-top: 5px;
  text-shadow: 1px 1px 5px #2E2E2E;
}
.introMsg p{
  font-size: 17px;
  color: white;
  text-align: center;
  line-height: 27px;
  margin-bottom: 20px;
  text-shadow: 1px 1px 6px #2E2E2E;
}





@media(max-width: 1599px) {
  .cut {
    width: 1520px;
  }
  .introImg{
    width: 1520px;
  }
}

@media(min-width: 1600px) and (max-width: 1799px) {
  .cut {
    width: 1700px;
  }
  .introImg{
    width: 1700px;
  }
}

@media(min-width: 1800px) {
  .cut {
    width: 1900px;
  }
  .introImg{
    width: 1900px;
  }
}
